



.fixed-navbar-closed-first {
  position: relative;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;

  top: 5%;
 z-index: 10;
}
 .fixed-navbar {
  position: relative;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  top: 5%;
 z-index: 10;
}
 .fixed-navbar-closed{
  position: relative;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  top: 5%;
 z-index: 10;
}




.page-animate{
  
  display: flex;
  flex-direction: column;
  

 


}

.contact-layout-show{

  
  width: 100%;
 
  height: 3rem;
  background-color: rgb(150, 150, 150);
  top: 0%;
  justify-content: center;
  align-items: center;
  align-content: center;

  z-index: 11;

}
.contact-layout-hidden{

  
  width: 100%;
 
  height: 3rem;
  background-color: rgb(149, 143, 109);
  top: 0%;
  justify-content: center;
  align-items: center;
  align-content: center;

  z-index: 11;

}
.contact-layout-div{
  display: flex;
  width:100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contact-layout-div h4{
  color: rgb(30, 30, 30);
  font-size: 12px;
  font-family: imported;
}
@keyframes nav_mobile_anim {
  from {top: -20%;}
  to {top: 0%;}
}

.fixed-navbar-menu-mobile{
    display: flex;
    position: fixed;
    width:100%;

   
    justify-content: center;
    align-items: center;
    align-content: center;
    visibility: hidden;
    background-color: rgb(226, 224, 224);
   animation-name: nav_mobile_anim;
   animation-duration: 0.5s;
   z-index: 10;
 
}
.move-navbar-menu-mobile{
  display: flex;

  width:100%;
 

  justify-content: center;
  align-items: center;
  align-content: center;
  visibility: hidden;
  background-color: rgb(226, 224, 224);
 
 z-index: 10;

}
.move_part{
z-index: 0;
}

.footer-part{
  width: 100%;
  height: 100%;
  background-color: white;
}

 @media screen and (max-width: 570px) {
    .container-layout{

        display: flex;
        margin: auto;
        flex-direction: column;
    
    }

    .contact-layout-show{

      height: 2.5rem;
    }
    
    .contact-layout-hidden{

      height: 9rem;
    }
    
    .button-closed{

        position: fixed;
        right: 20px;
        top:60px;
        z-index: 20;


    }
    .button-opened{

        position: fixed;
        right: 20px;
        top:60px;
        z-index: 20;

    }
    .line{
        width:1.6rem;
        height: 0.2rem;
        background-color: rgb(255, 149, 0);
        margin-bottom: 3px;
        transform: rotate(0deg) ;
        transition: 0.2s ease-in;
     
    }
    .line22{
        width:1.6rem;
        height: 0.2rem;
        background-color: rgb(255, 149, 0);
        margin-bottom: 3px;
       
    }
    @keyframes closed {
        from {right: 0%;}
        to {right: 105%;}
      }
      @keyframes opened {
        from {right: 100%;}
        to {right: 0%;}
      }
          
    .fixed-navbar{
    position: fixed;
    width: 100%;
    height: 100%;
    animation-name: opened ;
    animation-duration: 1s ;
    z-index:15;
    top: -10%;
    
  
    
  
    }
    .fixed-navbar-closed{
        position: fixed;
      
        width: 100%;
        height: 100%;
        animation-name: closed;
        animation-duration: 1s;
        right: 105%;
        top: -5%;

        z-index:15;
       
    }
    .fixed-navbar-closed-first{
        position: fixed;
        width: 100%;
        height: 100%;
        right: 100%;
        top: -5%;
    
      
    }
    .fixed-navbar-menu-mobile{
    visibility:visible;
     

    }
    .move-navbar-menu-mobile{
      visibility:visible;
    
  
      }
    
     .button-closed .line1 {
        position: absolute;
        top: 30%;
       
        transform: rotate(45deg) ;
        transition: 0.5s ease-in;
       
      }
      .button-closed .line2 {
    
        
        opacity: 0;
        transform: rotate(45deg) translate(0px, -6px);
     
     
      }
      
    
      .button-closed  .line3 {
        position: absolute;
        top: 30%;
        transform: rotate(-45deg) ;
        transition: 0.5s ease-in;
      }
     
}