


.navbar-menu-logo{

    height:0rem;
    width: 0rem;
    background-image: url('../Assets/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    
    
}

@media screen and (max-width: 570px) {
          
    .navbar-menu-logo{
      width: 10rem;
      height: 10rem;
  
    }
    
  
   
  
}