
.aprops-container{
 
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blanchedalmond;
 
    background-color:var(--grey);
    
}
.aprops-container h2{
 
    text-align: center;

 
    font-size: 22px;
    font-family: broche;
    
        
    background-image: linear-gradient(45deg, rgb(152, 89, 0),rgb(156, 92, 3), rgb(115, 67, 0),rgb(37, 22, 0), #faf600,var(--gold),#7a5a00,var(--gold), #d8c005,#ffea00, rgb(140, 82, 0));
   
    animation: ored 12s alternate-reverse infinite;
  
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  
}

.aprops-container h3{

   
    text-align: center;

    color: #241701;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
  
    
}

.aprops-part1{
   
    width: 100%;
    height:100%;
    background-color: hsl(0, 0%, 100%,0);
 
}

.aprops-part1-image{

    flex-direction: column;
   
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height:35rem;
    background-image: url('../../Assets/images/bureau/aprops1.jpg');
    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
   
    background-position: top;
    object-fit: cover;
}

.aprops-part1 h2{
 
  
    margin-top:20%;
 
    font-size:45px;
    
}

.aprops-part1 h3{

   
    text-align: center;
    font-size: 30px;
    margin-top:10%;
    color: #fdfdfd;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
}

.aprops-part2{
    
    width: 100%;
    height:100%;
    margin-top: 5%;
    background-color: #faf60037;
 
}
.aprops-part2 h2{
    
   font-size: 30px;
 
}
.aprops-part2 p{
   
    color: #150d00;
    text-align: center;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 25px;
    font-family:  'Arial Narrow';
    
 
 
}
.aprops-part3-image{

    flex-direction: column;
   
    display: flex;
    justify-content: center;
    align-content: center;
    width:90%;
    height:100%;
    background-image: url('../../Assets/images/apropos3.jpg');
    background-position: center;
    margin-right: 5%;
    margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    background-position: top;
    object-fit: cover;
    border-radius: 20px;
}
.aprops-part3-image-filtre{

    background-color: rgba(255, 255, 255, 0.5);
}
.aprops-part3-image h3{
    font-size: 25px;
    color: #fdfdfd;
}
.aprops-part3-image h2{
    font-size: 35px;

}
.aprops-part3-image p{
     color: #1d1000;
     text-align: center;
     font-family:  'Arial Narrow';
     margin-left: 10%;
     margin-right: 10%;
     font-size: 25px;
     font-weight: bold;

}


.aprops-part4{

    margin-top: 10%;
    display: flex;
}
.aprops-part4-image{

    flex-direction: column;
   
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height:100%;
    background-image: url('../../Assets/images/apropos4.jpg');
    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
 
    background-position: top;
    object-fit: cover;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;

}
.aprops-part4-image-filtre{
    background-color: rgba(255, 255, 255, 0.5);
  


}
.aprops-part4-image h3{
    font-size: 25px;
    color: #231c00;
    text-decoration: underline;
}
.aprops-part4-image h2{
    font-size: 35px;

}
.aprops-part4-image p{
     color: #000000;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 10%;
     margin-right: 10%;
     font-size: 22px;
     font-weight: bold;

}


@media screen and (max-width: 900px) {


    aprops-part1-image{

      
        background-image: url('../../Assets/images/mobile/aprops1.jpg');
       
    }
    
    .aprops-part1 h2{
     
      
        margin-top:30%;
     
        font-size:30px;
        
    }
    
    .aprops-part1 h3{
    
        font-size: 30px;
        margin-top:0%; 
    }
    .aprops-part2 h2{
     
      
       
     
        font-size:25px;
        
    }

    .aprops-part2 p{
        
        margin-right: 5%;
        margin-left: 5%;
        font-size: 22px;
    }

    .aprops-part3-image h3{
        font-size: 22px;
        color: #fdfdfd;
    }
    .aprops-part3-image h2{
        font-size: 22px;
    
    }
    .aprops-part3-image p{
       
         margin-left: 5%;
         margin-right: 5%;
         font-size: 16px;
   
    
    }

    .aprops-part4-image h3{
        font-size: 18px;
        color: #fdfdfd;
    }
    .aprops-part4-image h2{
        font-size: 22px;
    
    }
    .aprops-part4-image p{
       
         margin-left: 5%;
         margin-right: 5%;
         font-size: 16px;
   
    
    }

}
@media screen and (max-width: 570px) {


    aprops-part1-image{

      
        height:35rem;
        background-image: url('../../Assets/images/mobile/aprops1.jpg');
       
    }
    
    .aprops-part1 h2{
     
      
        margin-top:40%;
     
        font-size:25px;
        
    }
    
    .aprops-part1 h3{
    
        font-size: 25px;
        margin-top:0%; 
    }
    .aprops-part2 h2{
        
        
        font-size: 20px;
    }
    .aprops-part2 p{
        
        margin-right: 5%;
        margin-left: 5%;
        font-size: 20px;
    }

    .aprops-part3-image h3{
        font-size: 18px;
        color: #fdfdfd;
    }
    .aprops-part3-image h2{
        font-size: 22px;
    
    }
    .aprops-part3-image p{
       
         margin-left: 5%;
         margin-right: 5%;
         font-size: 16px;
   
    
    }

    .aprops-part4-image h3{
        font-size: 18px;
        color: #fdfdfd;
    }
    .aprops-part4-image h2{
        font-size: 22px;
    
    }
    .aprops-part4-image p{
       
         margin-left: 5%;
         margin-right: 5%;
         font-size: 16px;
   
    
    }

}