

.home-container{
 
    display: flex;
    flex-direction: column;
    width: 100%;
 
    background-color:var(--grey);
    
}
.home-container h2{
 
    text-align: center;
 
 
    font-size: 30px;
    font-family: imported;
    
        
    background-image: linear-gradient(45deg, rgb(255, 255, 255),rgb(242, 205, 154), rgb(255, 203, 125),rgb(255, 128, 0), #ffffff,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
   
    animation: ored 12s alternate-reverse infinite;
  
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  
}

.home-part1{
   
    width: 100%;
    height:100%;
    background-color: hsl(0, 0%, 100%,0);
 
}
.home-part2{
    display: flex;
 
   
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%,0);
   

}
.home-part1-image{

        flex-direction: column;
       
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height:45rem;
       
        background-image: url('../../Assets/images/bureau/home111.jpg');
        background-position: center;
        
        background-size: cover;
        background-repeat: no-repeat;
      
        background-position: top;
        object-fit: cover;
}

.home-part1-image h2{
  
    text-align: center;
  
    font-size: 40px;
 
    margin-top: 15%;
    font-weight: bold;
   
    font-family: imported;
    
        
    background-image: linear-gradient(45deg, rgb(48, 0, 0),rgb(211, 192, 166), rgb(255, 203, 125),rgb(45, 0, 0), #867002,var(--gold),#7a5a00,var(--gold), #a09800,#5b4803, rgb(45, 30, 8));
     
    animation: ored 12s alternate-reverse infinite;
  
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  
  
  

  
}
.home-part1-image h3{
    
    
   
    text-align: center;
    font-size: 45px;
    margin-top: -15%;
    color: rgb(43, 43, 43);
    opacity: 1;
    text-shadow:0.5px 0.5px  #ffffff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
    
}

.home-part2-image{

   
   
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 35rem;
    margin-left: 40px;
    margin-right: 10px;
    background-image: url('../../Assets/gif/gif1.gif');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
   
    background-position: top;
    object-fit: cover;
}

.home-part2-text{

    display: flex;
    flex-direction: column;
    
    background-color: var(--grey);
    width: 50%;
    margin-left: 10px;
    margin-right: 40px;
    background-position: bottom;
  
}
.home-part2-text h2{
    text-align: center;
   
 
    font-size: 50px;
    font-family: imported;
    
        
    background-image: linear-gradient(45deg, rgb(115, 102, 85),rgb(211, 192, 166), rgb(113, 109, 103),rgb(37, 22, 0), #6b6900,var(--gold),#7a5a00,var(--gold), #434101,#363500, rgb(133, 101, 56));
   
    animation: ored 10s alternate-reverse infinite;
  
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;


}
.home-part2-text p{
    text-align: center;
    
    margin-top: -2%;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    font-family:broche;
    color: #503800;
   

}
.home-part2-title{
 


}




.home-part3{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #a9a9a9;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    
}
.home-part3-title h3{
    
    text-align: center;
    font-size: 20px;
    
    color: rgb(43, 43, 43);
    opacity: 1;
    text-shadow:0.5px 0.5px  #ffffff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.home-part3-title h2{
    
    text-align: center;
 
    font-size: 30px;
    font-family: imported;   
    background-image: linear-gradient(45deg, rgb(255, 255, 255),rgb(242, 205, 154), rgb(255, 203, 125),rgb(255, 128, 0), #ffffff,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
   
    animation: ored 12s alternate-reverse infinite;
  
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.home-part3-images{

    display: flex;
 
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #a9a9a9;
    height: 40rem;
    
}

.home-part3-image1{
    display: flex;
    flex-direction: column;
   
    
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-left: 40px;
    margin-right: 20px;
    height:40rem;
    background-image: url('../../Assets/images/prestation1.jpg');
    background-position: center;
    margin-left: 40px;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: top;
    object-fit: cover;
    border-radius: 20px;

}
.home-part3-image2{
    display: flex;
    flex-direction: column;
   
    margin-left: 20px;
    margin-right: 40px;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-left: 20px;
    margin-right: 40px;
    height:40rem;
    background-image: url('../../Assets/images/prestation3.jpg');
    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
   
    background-position: top;
    object-fit: cover;
    border-radius: 20px;

}
.home-part3-image-filtre{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    width: 100%;
    height:40rem;
    background-color: rgba(215, 162, 0, 0.5);
   
    border-radius: 20px;
}


.home-part3 p{
    
    
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #170000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    margin-left: 10%;
    margin-right: 10%;
}
.home-nav-link{

    text-decoration: none;
    color: #ffffff;
    height: auto;
     
 }
 .home-nav-item{
     display: flex;
     justify-content: center;
     background-color: #151100;
     margin-top: 3%;
     height: 2rem;
     width: 15rem;
     padding-top: 1rem;
     border-radius: 12px;
 
 
 }

@font-face {
    font-family: imported;
    src: url('../../Assets/fonts/ethnocentric rg.otf');
      }
@font-face {
        font-family: broche;
        src: url('../../Assets/fonts/hemi.ttf');
          }
@keyframes ored {
        from {background-position: 0%;}
        to {background-position: 100%;}
      }











@media screen and (max-width: 570px) {
    



.home-part2{
    flex-direction: column;
    margin-top:0%;
}
.home-part1-image{
        height:35rem;
}

.home-part2-image{
   
    height: 15rem;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.home-part2-text{
 
    background-position: bottom;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
.home-part2-text h2{
   
    font-size: 16px;
    
}
.home-part2-text p{
    
    font-size: 15px;
    margin-top: -3%;
    margin-left: 8px;
    margin-right: 8px;
 
}

    .home-part1-image h2{
        position: absolute;
        font-size: 20px;
        margin-top: 70%;
       
       
    }
    .home-part1-image h3{
        position: absolute;
        font-size: 20px;
        margin-top: -90%;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;

    }
    .home-part1-image{

       
        background-image: url('../../Assets/images/mobile/home111.jpg');
       
}

.home-part3{

   
        margin-top: 10%;
    
        height: 90rem;
        
    }
    .home-part3-title h3{
    
        font-size: 16px;
        
     
        
    }
    .home-part3-title h2{
        font-size: 25px;
       
    }
    .home-part3 p{

        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #170000;
        font-family: 'Lucida Sans', 'Lucida Sans Regular';
        margin-left: 5%;
        margin-right: 5%;
         
     }
    .home-part3-images{
    
        flex-direction: column;     
        height: 80rem;
    }
    .home-part3-images h2{
        font-size: 20px;
        
    }
    .home-part3-images p{
        font-size: 18px;
        
    }
    
    .home-part3-image1{
    
       
        height:35rem;
        width: 90%;
        margin-left: 5%;
        margin-right:5%;
       
        
    
    }
    .home-part3-image2{
    
       
        height:35rem;
        width: 90%;
        margin-left: 5%;
        margin-right:5%;
        margin-top: 10%;
    
    }
   
    
     
    .home-part3-image-filtre{
       
        height:35rem;
       
    
    }


  
}