

.ve-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.ve-part1{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    justify-content: center;
    align-items: center;
 
}

.ve-part1-image{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height:35rem;
    background-image: url('../../Assets/images/bureau/ve1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    background-position: top;
    object-fit: cover;

}
.ve-part1-image-filtre{
   width: 100%;
   height: 35rem;
   flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
   background-color: rgb(169, 132, 0,0.2);

}
.ve-part1-image h2 {
    text-align: center;
    font-size: 35px;
    font-family: imported; 
    margin-top: 10%;
    background-image: linear-gradient(45deg, rgb(255, 255, 255),rgb(242, 205, 154), rgb(255, 203, 125),rgb(255, 128, 0), #ffffff,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
    animation: ored 12s alternate-reverse infinite;
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.ve-part1-image h3 {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.ve-part2{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
   
    justify-content: center;
    align-items: center;
    
}
.ve-part2-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ve-part2-title h2{
    

    text-align: center;
    font-size: 24px;
    font-family: imported; 
    background-image: linear-gradient(45deg, rgb(240, 99, 5),rgb(21, 12, 0), rgb(28, 17, 0),#ff8000, #d0d0d0,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
    animation: ored 12s alternate-reverse infinite;
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.ve-part2-catalog{
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
  
    justify-content: center;
    align-items: center;

}
.ve-part2-images{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
  

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    background-position: top;
    object-fit:contain;
    margin-right: 5px;
    border:1px solid;
    width:8rem;
    height:5rem;
    border-radius: 5px;
}
.ve-part2-images-selected{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
  

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    background-position: top;
    object-fit:contain;
    margin-right: 5px;
    border:4px solid;
    width:8rem;
    height:5rem;
    border-radius: 5px;

}
.ve-part2-images-item{
    


}
.ve-part2-show{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60rem;
    height:25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
 
    object-fit:contain;
    
    

}

.ve-part3{

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.ve-part3-title h2{
    text-align: center;
    font-size: 24px;
    font-family: imported; 
    background-image: linear-gradient(45deg, rgb(240, 99, 5),rgb(21, 12, 0), rgb(28, 17, 0),#ff8000, #965000,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
    animation: ored 12s alternate-reverse infinite;
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.ve-line{

    width:60%;
    height: 2px;
    background-color: #965000;
}
@font-face {
    font-family: icons;
    src: url('../../Assets/fonts/motorama.ttf');
      }
.ve-part3-marque{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ve-part3-marque h1 {

    font-family: icons;
    font-size:90px;
    font-weight: normal;
    background-image: linear-gradient(45deg, rgb(240, 99, 5),rgb(21, 12, 0), rgb(28, 17, 0),#ff8000, #965000,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
    animation: ored 12s alternate-reverse infinite;
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
   
}
.ve-part3-marque h2 {

    font-family: icons;
    font-size:70px;
    font-weight: normal;
    background-image: linear-gradient(45deg, rgb(240, 99, 5),rgb(21, 12, 0), rgb(28, 17, 0),#ff8000, #965000,var(--gold),#ffb700,var(--gold), #ffc802,#a98400, rgb(156, 94, 0));
    animation: ored 12s alternate-reverse infinite;
    background-size: 400% 400%;
    background-position: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
   
}


@media screen and (max-width: 570px) {
    .ve-part1{
       
     
    }
    
    .ve-part1-image{
       
        height:30rem;
        width: 100%;
        background-image: url('../../Assets/images/mobile/ve1.jpg');
    
    }
    .ve-part1-image-filtre{
      
    
    }
    .ve-part1-image h2 {
      
        font-size: 20px;
      
        margin-top: 10%;
       
    }
    .ve-part1-image h3 {
       
        font-size: 20px;
       
        
    }
    
    .ve-part2{
       
        
    }
    .ve-part2-title h2{
  
        font-size: 18px;
       
    }
    .ve-part2-catalog{
        display: flex;
        width: 80%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
      
        justify-content: center;
        align-items: center;
    
    }
    .ve-part2-images{
      
        margin-right: 5px;
        border:1px solid;
        width:4rem;
        height:2rem;
        border-radius: 2px;
    }
    .ve-part2-images-selected{
       
        margin-right: 2px;
        border:4px solid;
        width:4rem;
        height:2rem;
        border-radius: 5px;
    
    }
    .ve-part2-images-item{
        
    
    
    }
    .ve-part2-show{
       
        width: 90%;
        height:10rem;
    
        margin-top: 5%;
    
        
    
    }
    
    .ve-part3{
    
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    
    .ve-part3-title h2{
       
        font-size: 10px;
        
        
    }
    .ve-line{
    
        width:60%;
        height: 2px;
        background-color: #965000;
    }
    @font-face {
        font-family: icons;
        src: url('../../Assets/fonts/motorama.ttf');
          }
    .ve-part3-marque{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .ve-part3-marque h1 {
    
     
        font-size:30px;
        
       
    }
    .ve-part3-marque h2 {
    
        
        font-size:25px;
       
       
    }







}